/*.entirepage{
    background: linear-gradient(#595959, white);
    height:300px;
    width: 100%;
   
    margin:0;
}
*/
.entirepage{
    background: linear-gradient(#737373, white);
    height:300px;
    width: 100%;
   
    margin:0;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}


.topnav a {
    float: left;
    display: table;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width:228px;
    
}

header {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

footer {
    padding: 1em;
    color:black;
    
    clear: left;
    text-align: right;
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
}


.topnav a:hover {
    background-color: indianred;
    color: black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}


.topnav a.active {
    background-color: indianred;
    color: black;
}

.myscroll {
    background-color: lightgrey;
    width: 100%;
    border: 2px solid red;
    padding: 2px;
    margin: 2px;
}

