<html ng-app="WebModule">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous">
    <script src="scripts/angular.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="css/page1.css">
  <link rel="stylesheet" href="css/slideshow.css">
</head>

<body>
   
    <header> Sample Website</header>
    <div class="container" ng-controller="contentcontrol as cc">
<div class="topnav" id="myTopnav">
  <a ng-class="{active: cc.homevar }" href="#home" ng-model="cc.homevar" ng-click="cc.homeclick('home')">Home</a>
  <a ng-class="{active: cc.newsvar }" href="#news" ng-model="cc.newsvar" ng-click="cc.homeclick('news')">News</a>
  <a ng-class="{active: cc.contactvar }" href="#contact" ng-model="cc.contactvar" ng-click="cc.homeclick('contact')">Contact</a>
  <a ng-class="{active: cc.aboutvar }" href="#about" ng-model="cc.aboutvar" ng-click="cc.homeclick('about')">About</a>
</div>


 <div class="slideshow-container" ng-show="cc.homevar">

<div class="mySlides fade">
  <div class="numbertext">1 / 4</div>
  <img src="images/img1.jpg" style="width: 100%;height: 350px">
  <div class="text"><a href="https://en.wikipedia.org/wiki/London">Caption Text</a></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 4</div>
  <img src="images/img2.jpg" style="width: 100%;height: 350px">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 4</div>
  <img src="images/img3.jpg" style="width: 100%;height: 350px" >
  <div class="text">Caption Three</div>
</div>
<div class="mySlides fade">
  <div class="numbertext">4 / 4</div>
  <img src="images/img4.jpg" style="width: 100%;height: 350px" >
  <div class="text">Caption Three</div>
</div>
<br>
<div style="text-align:center">
  <span class="dot" ng-click="cc.showclick(1)"></span> 
  <span class="dot" ng-click="cc.showclick(2)"></span> 
  <span class="dot" ng-click="cc.showclick(3)"></span> 
  <span class="dot" ng-click="cc.showclick(4)"></span>
</div>
</div>


 <div ng-show="cc.homevar">
   <article>
  <h1>Home</h1>
  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
</article>
 </div>

<div ng-show="cc.newsvar">
   <article>
  <h1>News</h1>
  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
</article>
</div>
<div ng-show="cc.contactvar">
   <article>
  <h1>Contact</h1>
  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
</article>
</div>
<div ng-show="cc.aboutvar">
   <article>
  <h1>About</h1>
  <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
  <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
</article>
</div>
    </div>
   <footer>Copyright</footer>
</body>
</html>